<h1>Register a new product</h1>
<form action="/product/add" method="POST" enctype="multipart/form-data">
    <div class=”control-group”>
        <div class="form-group floating-label-form-group controls">
            <label>Produc name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
    </div>
    <div class=”control-group”>
        <div class="form-group floating-label-form-group controls">
            <label>PRICE</label>
            <input type="text" class="form-control" id="price" name="price">
        </div>
    </div>
    <div class=”control-group”>
        <div class="form-group floating-label-form-group controls">
            <label>Number</label>
            <input type="text" class="form-control" id="no" name="no">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">ADD</button>
    </div>
</form>